@use "./modules/vars";

* {
  @extend .reset;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #d2d0ce;
}

header {
  @extend .generic-header;
  h1 {
    font-size: 3.5rem;
    color: #831de1;
  }

  .buttonCreateProject  {
    padding: vars.$padding;
    font-weight: vars.$font-weight;
    font-size: vars.$font-size;
  }
}

.containerProject {
  display: flex;
  flex-wrap: wrap;

  .divProject {
    width: 30vw;
    height: 40vh;
    margin: 2rem;
    border: 8px double #8c8c91;
    border-radius: 0.4rem;
  }

  .inputTitle {
    padding: vars.$padding;
    margin: vars.$margin;
  }

  .title {
    padding: 1.2rem;
    text-align: center;
    text-transform: uppercase;
  }
}

.buttonValidate {
  font-weight: vars.$font-weight;
  font-size: vars.$font-size;
  padding: 0.2rem;
}

.divItems {
  display: flex;
  flex-direction: column;
  width: 5vw;
  height: 9vh;

  .fa-clock , .fa-calendar-days {
    color: #517573;
    font-size: 4rem;
    padding: 3rem;
  }

  .divBottom {
    @extend .generic-header;
    width: 28vw;

  }

  .fa-trash-can, .fa-eye {
    @extend .fa-clock;
    color: #544b4b;
    font-size: 3rem;
  }

  .fa-eye {
    font-size: 3rem;
  }

  .addTask {
    border: none;
    background-color: #d2d0ce;
  }
}

.containerTask {
  width: 5vw;
  height: 5vh;
  border: 1px solid blue;
}
