@use "./modules/vars";

* {
  @extend .reset;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #d2d0ce;
}

header {
  @extend .generic-header;
  h1 {
    font-size: 3.5rem;
    color: #831de1;
  }

  .buttonCreateProject  {
    padding: vars.$padding;
    font-weight: vars.$font-weight;
    font-size: vars.$font-size;
  }
}

.containerProject {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .divProject {
    width: 39vw;
    height: 56vh;
    margin: 2rem;
    border: 8px double #8c8c91;
    border-radius: 0.4rem;
  }

  .inputTitle {
    padding: vars.$padding;
    margin: vars.$margin;
  }

  .title {
    padding: 2.2rem;
    text-align: center;
    text-transform: uppercase;
  }
}

.buttonValidate {
  font-weight: vars.$font-weight;
  font-size: vars.$font-size;
  padding: 0.2rem;
}

.divItems {
  display: flex;
  flex-direction: column;
  width: 5vw;
  height: 9vh;

  .fa-clock , .fa-calendar-days {
    color: #517573;
    font-size: 4rem;
    padding: 3rem;
  }

  .divBottom {
    width: 36vw;
    margin-top: 12rem;
    display: flex;
    justify-content: space-between;
  }

  .fa-trash-can, .fa-eye {
    @extend .fa-clock;
    color: #544b4b;
    font-size: 3rem;
  }

  .fa-eye {
    font-size: 3rem;
  }

  .addTask {
    background-color: #d2d0ce;
    height: 3vh;
    margin-top: 3rem;
  }
}

.containerTask {
  width: 30vw;
  height: 37vh;
  border: #{vars.$border}px solid #575151;
  margin-left: 13rem;
  margin-top: -10rem;
  background-color: #e8e6e3;

  .inputTask {
    display: block;
  }

  .divTask {
    font-size: 2rem;
    padding: 0.5rem;
  }
}


